<div class="card">
  <div class="card-body">
    <form action="/admin/editarPostagem" method="POST">
    <h3>Editar postagem: </h3>
    <div class="card mt-4">
      <div class="card-body">
        <input type="hidden" name="id" value="{{postagem._id}}">
        <label for="titulo">Titulo: </label>
        <input type="text" name="titulo" class="form-control" value="{{postagem.titulo}}"required>
        <label for="descricao">Descrição: </label>
        <input type="text" name="descricao" class="form-control" value="{{postagem.descricao}}" required>
        <label for="slug">Slug: </label>
        <input type="text" name="slug"  class="form-control" value="{{postagem.slug}}" required>
        <label for="conteudo">Conteudo: </label>
        <textarea name="conteudo" id=""class="form-control"  cols="15" rows="10">{{postagem.conteudo}}</textarea><br>
        <label for="categoria">Categoria: </label>
        <select name="categoria" class="form-control" value="{{postagem.categoria}}">
            {{#each categorias}}
            <option value="{{_id}}">{{nome}}</option>
            {{/each}}
          </select><br>
        <button class="btn btn-success">Editar</button>
          </form>
         </div>
        </div>
    </div>
</div>
<br><br><br>